.layout {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .controls {
        position: absolute;
        bottom: 0;
        left: 0;
        width: inherit;
        height: 40px;
        background-color: #000;
        z-index: 1;
    }
}